.sticky-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8; 
  text-align: center;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  min-height: calc(100vh - 60px);
}